@import '../src/common/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
  color: $font-primary;
}

body {
  background-color: $primary-color;
}

.container {
  margin: 0 40px;
}

.card-image {
  display: block;
  background-image: url('./images/noImage.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 250px auto;
}
