@import '../../common/colors.scss';

.movie-list,
.show-list {
  margin: 20px 0px;

  h2 {
    color: $font-secondary;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 700;
  }
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 15px;
}
